@model RanchProject.Models.Customer

@{
    ViewData["Title"] = "Edit";
    Layout = "_Layout";
}

<h1>Edit</h1>
<br />
<br />
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CustomerID" />
            <div class="form-group">
                <label asp-for="CustomerName" class="control-label"></label>
                <input asp-for="CustomerName" class="form-control" />
                <span asp-validation-for="CustomerName" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="CustomerSurname" class="control-label"></label>
                <input asp-for="CustomerSurname" class="form-control" />
                <span asp-validation-for="CustomerSurname" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="CustomerGender" class="control-label"></label>
                <input asp-for="CustomerGender" class="form-control" />
                <span asp-validation-for="CustomerGender" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="EmployeeID" class="control-label"></label>
                <input asp-for="EmployeeID" class="form-control" />
                <span asp-validation-for="EmployeeID" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<br />
<div>
    <a asp-action="Index">Back to List</a>
</div>

